{
    "swagger": "2.0",
    "info": {
        "title": "@ragasubekti/siMAYA",
        "description": "Dokumentasi API siMAYA",
        "contact": {
            "email": "ragasubekti@outlook.com"
        },
        "version": "1.0.0"
    },
    "host": "simaya.id",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/authentication": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Autentikasi User dan Token",
                "operationId": "userAuthentication",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Isi Request",
                        "required": true,
                        "schema": {
                            "required": [
                                "nip",
                                "password"
                            ],
                            "properties": {
                                "username": {
                                    "type": "string"
                                },
                                "password": {
                                    "type": "string",
                                    "default": "123456"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/instansi": {
            "get": {
                "tags": [
                    "Instansi"
                ],
                "summary": "Daftar Instansi",
                "operationId": "getInstansi",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/agama": {
            "get": {
                "tags": [
                    "Agama"
                ],
                "summary": "Daftar Agama",
                "operationId": "getAgama",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/agama/{agamaId}": {
            "get": {
                "tags": [
                    "Agama"
                ],
                "summary": "Detail Agama",
                "operationId": "detailAgama",
                "parameters": [
                    {
                        "name": "agamaId",
                        "in": "path",
                        "description": "ID Agama",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/eselon": {
            "get": {
                "tags": [
                    "Eselon"
                ],
                "summary": "Daftar Eselon",
                "operationId": "getEselon",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/eselon/{eselonId}": {
            "get": {
                "tags": [
                    "Eselon"
                ],
                "summary": "Detail Eselon",
                "operationId": "detailEselon",
                "parameters": [
                    {
                        "name": "eselonId",
                        "in": "path",
                        "description": "ID Eselon",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/golongan": {
            "get": {
                "tags": [
                    "Golongan"
                ],
                "summary": "Daftar Golongan",
                "operationId": "getGolongan",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/golongan/{golonganId}": {
            "get": {
                "tags": [
                    "Golongan"
                ],
                "summary": "Detail Golongan",
                "operationId": "detailGolongan",
                "parameters": [
                    {
                        "name": "golonganId",
                        "in": "path",
                        "description": "ID Golongan",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/jabatan": {
            "get": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Daftar Jabatan",
                "operationId": "getJabatan",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            },
            "post": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Buat Jabatan",
                "operationId": "createJabatan",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Isi Request",
                        "required": true,
                        "schema": {
                            "required": [
                                "kode",
                                "nama"
                            ],
                            "properties": {
                                "kode": {
                                    "type": "string"
                                },
                                "nama": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/jabatan/{jabatanId}": {
            "get": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Detail Jabatan",
                "operationId": "detailJabatan",
                "parameters": [
                    {
                        "name": "jabatanId",
                        "in": "path",
                        "description": "ID Jabatan",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Delete Jabatan",
                "operationId": "detailJabatan",
                "parameters": [
                    {
                        "name": "jabatanId",
                        "in": "path",
                        "description": "ID Jabatan",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Update Jabatan",
                "operationId": "updateJabatan",
                "parameters": [
                    {
                        "name": "jabatanId",
                        "in": "path",
                        "description": "ID Jabatan",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Isi Request",
                        "required": true,
                        "schema": {
                            "required": [
                                "kode",
                                "nama"
                            ],
                            "properties": {
                                "kode": {
                                    "type": "string"
                                },
                                "nama": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/jenis-instansi": {
            "get": {
                "tags": [
                    "Jenis Instansi"
                ],
                "summary": "Daftar Jenis Instansi",
                "operationId": "getJenisInstansi",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/jenis-instansi/{jenisInstansiId}": {
            "get": {
                "tags": [
                    "Jenis Instansi"
                ],
                "summary": "Detail Jenis Instansi",
                "operationId": "detailJenisInstansi",
                "parameters": [
                    {
                        "name": "jenisInstansiId",
                        "in": "path",
                        "description": "ID Jenis Instansi",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/keamanan-surat": {
            "get": {
                "tags": [
                    "Keamanan Surat"
                ],
                "summary": "Daftar Keamanan Surat",
                "operationId": "getKeamananSurat",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/keamanan-surat/{keamananSuratId}": {
            "get": {
                "tags": [
                    "Keamanan Surat"
                ],
                "summary": "Detail Keamanan Surat",
                "operationId": "detailKeamananSurat",
                "parameters": [
                    {
                        "name": "keamananSuratId",
                        "in": "path",
                        "description": "ID Keamanan Surat",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/kecamatan": {
            "get": {
                "tags": [
                    "Kecamatan"
                ],
                "summary": "Daftar Kecamatan",
                "operationId": "getKecamatan",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/kecamatan/{kecamatanId}": {
            "get": {
                "tags": [
                    "Kecamatan"
                ],
                "summary": "Detail Kecamatan",
                "operationId": "detailKecamatan",
                "parameters": [
                    {
                        "name": "kecamatanId",
                        "in": "path",
                        "description": "ID Kecamatan",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/klasifikasi-surat": {
            "get": {
                "tags": [
                    "Klasifikasi Surat"
                ],
                "summary": "Daftar Klasifikasi Surat",
                "operationId": "getKlasifikasiSurat",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/klasifikasi-surat/{klasifikasiSuratId}": {
            "get": {
                "tags": [
                    "Klasifikasi Surat"
                ],
                "summary": "Detail Klasifikasi Surat",
                "operationId": "detailKeamananSurat",
                "parameters": [
                    {
                        "name": "klasifikasiSuratId",
                        "in": "path",
                        "description": "ID klasifikasi Surat",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/penerima-surat": {
            "get": {
                "tags": [
                    "Penerima Surat"
                ],
                "summary": "Daftar Penerima Surat",
                "operationId": "gerPenerimaSurat",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/instansi/{instansiId}": {
            "get": {
                "tags": [
                    "Instansi"
                ],
                "summary": "Detail Instansi",
                "operationId": "detailInstansi",
                "parameters": [
                    {
                        "name": "instansiId",
                        "in": "path",
                        "description": "ID Instansi",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/surat-masuk-manual": {
            "get": {
                "tags": [
                    "!!WIP!! Surat Masuk Manual"
                ],
                "summary": "Daftar Surat Masuk Manual",
                "operationId": "getSuratMasukManual",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            },
            "post": {
                "tags": [
                    "Surat Masuk Manual"
                ],
                "summary": "Buat Jabatan",
                "operationId": "createSuratMasukManual",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Isi Request",
                        "required": true,
                        "schema": {
                            "required": [
                                "penerima_surat"
                            ],
                            "properties": {
                                "tanggal_terima": {
                                    "type": "string"
                                },
                                "tanggal_kirim": {
                                    "type": "string"
                                },
                                "tanggal_surat": {
                                    "type": "string"
                                },
                                "nomor_surat": {
                                    "type": "string"
                                },
                                "nomor_agenda": {
                                    "type": "string"
                                },
                                "perihal": {
                                    "type": "string"
                                },
                                "instansi_pengirim": {
                                    "type": "string"
                                },
                                "jabatan_pengirim": {
                                    "type": "string"
                                },
                                "jenis_instansi": {
                                    "type": "string"
                                },
                                "alamat_pengirim": {
                                    "type": "string"
                                },
                                "klasifikasi": {
                                    "type": "string"
                                },
                                "keamanan_surat": {
                                    "type": "string"
                                },
                                "penerima_surat": {
                                    "type": "string"
                                },
                                "tembusan_surat": {
                                    "type": "string"
                                },
                                "ringkasan_surat": {
                                    "type": "string"
                                },
                                "isi_surat": {
                                    "type": "string"
                                },
                                "file_surat": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/surat-masuk-manual/{suratId}": {
            "get": {
                "tags": [
                    "!!WIP!! Surat Masuk Manual"
                ],
                "summary": "Detail Surat Manual",
                "operationId": "detailSuratMasukManual",
                "parameters": [
                    {
                        "name": "suratId",
                        "in": "path",
                        "description": "ID Surat",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "JWT": {
            "type": "apiKey",
            "description": "Untuk mengakses beberapa API dibutuhkan JWT, contoh header: Bearer xxxx.xxxxxxxxxx.xxxx",
            "name": "Authorization",
            "in": "header",
            "scopes": {}
        }
    }
}