{
    "swagger": "2.0",
    "info": {
        "title": "@ragasubekti/siMAYA",
        "description": "Dokumentasi API siMAYA",
        "contact": {
            "email": "ragasubekti@outlook.com"
        },
        "version": "1.0.0"
    },
    "host": "simaya.id",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/authentication": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Autentikasi User dan Token",
                "operationId": "userAuthentication",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Isi Request",
                        "required": true,
                        "schema": {
                            "required": [
                                "nip",
                                "password"
                            ],
                            "properties": {
                                "username": {
                                    "type": "string"
                                },
                                "password": {
                                    "type": "string",
                                    "default": "123456"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/agama": {
            "get": {
                "tags": [
                    "Agama"
                ],
                "summary": "Daftar Agama",
                "operationId": "getAgama",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/agama/{agamaId}": {
            "get": {
                "tags": [
                    "Agama"
                ],
                "summary": "Detail Agama",
                "operationId": "detailAgama",
                "parameters": [
                    {
                        "name": "agamaId",
                        "in": "path",
                        "description": "ID Agama",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/jabatan": {
            "get": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Daftar Jabatan",
                "operationId": "getJabatan",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit Data",
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian Data Berdasarkan Nama",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman Data",
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            },
            "post": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Buat Jabatan",
                "operationId": "createJabatan",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Isi Request",
                        "required": true,
                        "schema": {
                            "required": [
                                "kode",
                                "nama"
                            ],
                            "properties": {
                                "kode": {
                                    "type": "string"
                                },
                                "nama": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/master/jabatan/{jabatanId}": {
            "get": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Detail Jabatan",
                "operationId": "detailJabatan",
                "parameters": [
                    {
                        "name": "jabatanId",
                        "in": "path",
                        "description": "ID Jabatan",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Delete Jabatan",
                "operationId": "detailJabatan",
                "parameters": [
                    {
                        "name": "jabatanId",
                        "in": "path",
                        "description": "ID Jabatan",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Jabatan"
                ],
                "summary": "Update Jabatan",
                "operationId": "updateJabatan",
                "parameters": [
                    {
                        "name": "jabatanId",
                        "in": "path",
                        "description": "ID Jabatan",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Isi Request",
                        "required": true,
                        "schema": {
                            "required": [
                                "kode",
                                "nama"
                            ],
                            "properties": {
                                "kode": {
                                    "type": "string"
                                },
                                "nama": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "JWT": {
            "type": "apiKey",
            "description": "Untuk mengakses beberapa API dibutuhkan JWT, contoh header: Bearer xxxx.xxxxxxxxxx.xxxx",
            "name": "Authorization",
            "in": "header",
            "scopes": {}
        }
    }
}